.medicinas-floresta {
	@media screen and (min-width: 880px) {
		margin-top: -4rem;
	}

	background-size: cover;
	background-repeat: no-repeat;
	background-image: linear-gradient(
			rgb(255, 255, 255, 0),
			rgb(255, 255, 255, 0),
			rgb(255, 255, 255, 0),
			rgb(255, 255, 255)
		),
		url("../../assets/bg_secao_medicinasdafloresta.jpg");

	.medicinas-floresta__container {
		img {
			width: 50%;
		}
	}
}
