.navbar__mobile {
	background-image: linear-gradient(#6750d6, #07031c);
	border-radius: 1rem 1rem 0 0;
	box-shadow: -4px -4px 4px rgb(00, 00, 00, 0.16);
	width: 100%;
	height: 3rem;
	justify-content: center;
	position: fixed;
	bottom: 0;
	z-index: 5;

	div {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		padding-top: 4px;
	}

	@media screen and(min-width: 880px) {
		display: none !important;
	}
}
