.benzimentos {
	.benzimentos__container {
		display: flex;
		justify-content: center;
		flex-direction: row;
		align-items: center;
		gap: 0 4rem;

		.benzimentos__image {
			@media screen and (max-width: 900px) {
				display: none;
				padding-left: 0;
			}
		}

		.benzimentos__text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			width: 50%;
			gap: 4rem;
			padding-right: 2rem;

			@media screen and (max-width: 1200px) {
				gap: 2rem;
			}

			@media screen and (max-width: 900px) {
				width: 100%;
				align-items: center;
				gap: 4rem;
			}

			h1 {
				@media screen and (max-width: 900px) {
					text-align: center;
				}
			}

			img {
				display: none;

				@media screen and (max-width: 900px) {
					display: flex;
				}
			}
		}
	}
}
