.localizacao {
	.localizacao__container {
		.localizacao__text-container {
			width: 40%;
		}
		.localizacao__google-maps-container {
			width: 60%;
			padding: 1rem;

			iframe {
				width: 75%;
				height: 50vh;
				border: none;
				border-radius: 0.5rem;
				box-shadow: 4px 4px 8px rgb(00, 00, 00, 0.12);
			}
		}
	}
}
