.instituto__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	@media screen and (max-width: 900px) {
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}

	@media screen and (max-width: 900px) {
		height: 100%;
		padding: 4rem 2rem;
	}

	.container__imagem {
		width: 40%;
		display: flex;
		justify-content: flex-end;

		@media screen and (max-width: 900px) {
			display: none;
		}
		img {
			width: 85%;
		}
	}

	.container__texto {
		width: 100%;
		margin-left: 6rem;

		@media screen and (max-width: 900px) {
			margin-left: 0;
			display: flex;
			align-items: flex-start;
			flex-direction: column;
		}
	}
}
