.instituto__image-container {
	width: 40%;

	@media screen and (max-width: 1080px) {
		display: none !important;
	}
}

.instituto__text-container {
	width: 60%;

	@media screen and (max-width: 1080px) {
		width: 100%;
	}
}
