@import "../../styles/scale-function";

.benzimentos {
	.benzimentos__container {
		.benzimentos__image-container {
			img {
				height: 360px;
				@include scaleHeight(360px, 1366px);
			}
			@media screen and (max-width: 880px) {
				display: none;
			}
		}

		.benzimentos__text-container {
			width: 50%;

			@media screen and (max-width: 880px) {
				width: 100%;
				align-items: center;
			}

			img {
				display: none;

				@media screen and (max-width: 880px) {
					display: flex;
					height: 320px;
				}
			}
		}
	}
}
