.reiki {
	.reiki__container {
		.reiki__text-container {
			width: 50%;

			@media screen and (max-width: 1280px) {
				width: 100%;
				align-items: center;
			}

			img {
				display: none;

				@media screen and (max-width: 1280px) {
					display: flex;
					width: 55%;
				}

				@media screen and (max-width: 460px) {
					width: 100%;
				}
			}
		}

		.reiki__image-container {
			width: 50%;

			@media screen and (max-width: 1280px) {
				display: none;
			}
		}
	}
}
