.ayahuasca {
	.ayahuasca__container {
		.ayahuasca__text-container {
			width: 50%;

			@media screen and (max-width: 880px) {
				width: 100%;
				align-items: center;
			}
		}

		.ayahuasca__image-container {
			width: 50%;

			img {
				@media screen and (min-width: 880px) {
					width: 50%;
				}
			}
			@media screen and (max-width: 880px) {
				display: none;
			}
		}
	}
}
