.gap__y {
	/*----------Change this values if you want----------*/
	$gapY: 32px;
	/*------------------------------------------------------*/

	gap: $gapY 0;

	@media screen and (min-width: 1920px) {
		gap: ($gapY * 1.5) 0;
	}
}

.gap__x {
	/*----------Change this values if you want----------*/
	$gapX: 64px;
	/*------------------------------------------------------*/

	gap: 0 $gapX;

	@media screen and (min-width: 1920px) {
		gap: 0 ($gapX * 1.5);
	}
}
