/*Section wrapper*/
.app__wrapper {
	width: 100%;
	padding: 4rem 0;

	@media screen and (max-width: 880px) {
		height: 100%;
		padding: 4rem 1rem;
	}
}

/*Section wrapper*/

.container__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	min-height: 100vh;

	@media screen and (max-width: 880px) {
		min-height: auto;
	}

	@media screen and (min-width: 881px) {
		max-width: 1016px;
	}

	@media screen and (min-width: 1280px) {
		max-width: 1216px;
	}

	@media screen and (min-width: 1366px) {
		max-width: 1302px;
	}

	@media screen and (min-width: 1440px) {
		max-width: 1376px;
	}

	@media screen and (min-width: 1680px) {
		max-width: 1616px;
	}

	@media screen and (min-width: 1920px) {
		max-width: 1792px;
	}

	@media screen and (min-width: 2560px) {
		max-width: 2304px;
	}

	@media screen and (min-width: 3840px) {
		max-width: 3520px;
	}
}
