@import "../../styles/scale-function";

.header {
	margin-top: 1.5rem;
	@include scaleMargin(1.5rem, 0, 0, 0, 1366px);
	@media screen and(max-width: 880px) {
		margin: 0;
	}

	display: flex;
	justify-content: center;
	align-items: center;

	background-size: cover;
	background-repeat: no-repeat;

	background-image: linear-gradient(rgb(103, 80, 214, 0.9), rgba(7, 3, 28, 0.9)),
		url("../../assets/header_bg.jpg");

	@media screen and (max-width: 880px) {
		background-image: linear-gradient(
				rgb(103, 80, 214, 0.9),
				rgba(7, 3, 28, 0.9)
			),
			url("../../assets/header_bg_mobile.jpg");
	}
}

.header__logo {
	width: 180px;
	@include scaleWidth(180px, 1366px);
	@media screen and(max-width: 880px) {
		width: 120px;
	}
}
