.header {
	display: flex;
	justify-content: center;
	align-items: center;

	background-size: cover;
	background-position: center;

	background-repeat: no-repeat;
	background-image: linear-gradient(rgb(103, 80, 214, 09), rgba(7, 3, 28, 0.9)),
		url("../../assets/header_bg.jpg");
	padding: 5rem 2rem 0rem !important;

	@media screen and (max-width: 460px) {
		padding: 4rem 2rem !important;
		background-image: linear-gradient(
				rgb(103, 80, 214, 09),
				rgba(7, 3, 28, 0.9)
			),
			url("../../assets/header_bg_mobile.jpg");
	}

	.header__logo {
		@media screen and (max-width: 900px) {
			width: 58%;
		}

		@media screen and (min-width: 1920px) {
			width: 100%;
		}
	}
}
