.taro {
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
	background-image: linear-gradient(rgb(103, 80, 214, 0.9), rgba(7, 3, 28, 0.9)),
		url("../../assets/bg_secaotaro.jpg");

	@media screen and (max-width: 900px) {
		background-image: linear-gradient(
				rgb(103, 80, 214, 0.9),
				rgba(7, 3, 28, 0.9)
			),
			url("../../assets/bg_secaotaro_mobile.jpg");
	}

	.taro__container {
		width: 50%;

		@media screen and (max-width: 880px) {
			text-align: start;
			align-items: center;
			width: 100%;
		}
	}
}
