.copyright__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	background: #000;
	padding: 0.5rem 2rem;

	p {
		color: #fff;
		font-size: 0.75rem;
	}

	a {
		text-decoration: none;
		color: #fff;
		font-size: 0.75rem;
		font-weight: 700;
	}

	@media screen and (max-width: 900px) {
		justify-content: center;
		flex-direction: column;
		justify-content: center;
		gap: 0.25rem;
		text-align: center;
	}
}
