@import "../../styles/scale-function";

.copyright__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	background: #000;
	padding: 0.5rem 2rem;
	@include scalePadding(0.5rem, 2rem, 0.5rem, 2rem, 1366px);

	p {
		color: #fff;
		font-size: 0.75rem !important;
		@include scaleFontSize(0.75rem, 1366px);

		@media screen and(max-width: 880px) {
			font-size: 0.6rem !important;
		}
	}

	a {
		text-decoration: none;
		color: #fff;
		font-size: 0.75rem;
		@include scaleFontSize(0.75rem, 1366px);
		font-weight: 700;

		@media screen and(max-width: 880px) {
			font-size: 0.6rem;
			margin-bottom: 0.5rem;
		}
	}

	@media screen and (max-width: 880px) {
		justify-content: center;
		flex-direction: column;
		align-items: center !important;
		gap: 0.25rem;
		text-align: center;
		padding: 1rem 1rem;
	}
}
