@import "../../styles/scale-function";

.cerimonia-universalista {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: linear-gradient(rgb(103, 80, 214, 0.9), rgba(7, 3, 28, 0.9)),
		url("../../assets/bg_cerimoniauniversalista.jpg");

	@media screen and (max-width: 880px) {
		background-image: linear-gradient(
				rgb(103, 80, 214, 0.9),
				rgba(7, 3, 28, 0.9)
			),
			url("../../assets/bg_cerimoniauniversalista_mobile.jpg");
	}

	.cerimonia-universalista__container {
		.cerimonia-universalisa__image-container {
			width: 40%;

			img {
				height: 380px;
				@include scaleHeight(380px, 1366px);
				margin-top: 0.5rem;
				@include scaleMargin(0.5, 0, 0, 0, 1366px);
			}

			@media screen and (max-width: 880px) {
				display: none;
			}
		}

		.cerimonia-universalista__text-container {
			width: 60%;
			img {
				display: none;
			}

			@media screen and (max-width: 880px) {
				width: 100%;
				align-items: center;
			}
		}
	}
}
