/*----------FLEX-COLUMN----------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
.flex__column {
  display: flex;
  flex-direction: column;
}

.flex__column__start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

.flex__column__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.flex__column__end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}

/*----------FLEX ROW----------*/
.flex__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex__row__start {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: start;
}

.flex__row__center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex__row__end {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  text-align: end;
}

p {
  /*----------Change these values if you want----------*/
  /*------------------------------------------------------*/
  font-size: 16px !important;
  line-height: 32px !important;
}
@media screen and (min-width: 1920px) {
  p {
    font-size: 24px !important;
    line-height: 48px !important;
  }
}
@media screen and (min-width: 2560px) {
  p {
    font-size: 28px !important;
    line-height: 56px !important;
  }
}

h1 {
  /*----------Change this value if you want----------*/
  /*------------------------------------------------------*/
  font-size: 24px;
}
@media screen and (min-width: 1920px) {
  h1 {
    font-size: 36px !important;
  }
}
@media screen and (min-width: 2560px) {
  h1 {
    font-size: 42px !important;
  }
}

button {
  /*----------Change this value if you want----------*/
  /*------------------------------------------------------*/
  font-size: 16px;
}
@media screen and (min-width: 1920px) {
  button {
    font-size: 24px !important;
  }
}
@media screen and (min-width: 2560px) {
  button {
    font-size: 28px !important;
  }
}

span {
  /*----------Change this value if you want----------*/
  /*------------------------------------------------------*/
  font-size: 16px;
}
@media screen and (min-width: 1920px) {
  span {
    font-size: 24px !important;
  }
}
@media screen and (min-width: 2560px) {
  span {
    font-size: 28px !important;
  }
}

b {
  /*----------Change this value if you want----------*/
  /*------------------------------------------------------*/
  font-size: 16px;
}
@media screen and (min-width: 1920px) {
  b {
    font-size: 24px !important;
  }
}
@media screen and (min-width: 2560px) {
  b {
    font-size: 28px !important;
  }
}

.gap__y {
  /*----------Change this values if you want----------*/
  /*------------------------------------------------------*/
  gap: 32px 0;
}
@media screen and (min-width: 1920px) {
  .gap__y {
    gap: 48px 0;
  }
}

.gap__x {
  /*----------Change this values if you want----------*/
  /*------------------------------------------------------*/
  gap: 0 64px;
}
@media screen and (min-width: 1920px) {
  .gap__x {
    gap: 0 96px;
  }
}

/*Section wrapper*/
.app__wrapper {
  width: 100%;
  padding: 4rem 0;
  overflow-y: hidden;
}
@media screen and (max-width: 880px) {
  .app__wrapper {
    height: 100%;
    padding: 4rem 1rem;
  }
}

/*Section wrapper*/
.container__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
}
@media screen and (max-width: 880px) {
  .container__wrapper {
    min-height: auto;
  }
}
@media screen and (min-width: 881px) {
  .container__wrapper {
    max-width: 1016px;
  }
}
@media screen and (min-width: 1280px) {
  .container__wrapper {
    max-width: 1216px;
  }
}
@media screen and (min-width: 1366px) {
  .container__wrapper {
    max-width: 1302px;
  }
}
@media screen and (min-width: 1440px) {
  .container__wrapper {
    max-width: 1376px;
  }
}
@media screen and (min-width: 1680px) {
  .container__wrapper {
    max-width: 1616px;
  }
}
@media screen and (min-width: 1920px) {
  .container__wrapper {
    max-width: 1792px;
  }
}
@media screen and (min-width: 2560px) {
  .container__wrapper {
    max-width: 2304px;
  }
}
@media screen and (min-width: 3840px) {
  .container__wrapper {
    max-width: 3520px;
  }
}

/*----------COLOR-PALLETE----------*/ /*----------RESET-CSS----------*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  color: unset;
  text-decoration: none;
}

/*----------APP BASE----------*/
* {
  font-family: "Montserrat", sans-serif;
  color: #777777;
  overflow-x: hidden;
}

/*----------APP STYLES----------*/
.app__bg {
  background: #ffffff;
}

.title {
  font-size: 1.5rem;
  color: #190a4e;
  font-weight: 600;
}

.title-white {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 600;
}

.p-text {
  font-size: 1rem;
  color: #777777;
}

.p-text-purple {
  font-size: 1rem;
  color: #190a4e;
}

.p-text-purple-bold {
  font-size: 1rem;
  color: #190a4e;
  font-weight: 700;
}

.p-text-bold {
  font-size: 1rem;
  color: #777777;
  font-weight: 700;
}

.p-text-white {
  font-size: 1rem;
  color: #ffffff;
}

.p-text-white-bold {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 700;
}

strong {
  font-weight: 700;
}

.button-purple {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  background-image: linear-gradient(#6750d6, #190a4e);
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  padding: 1rem 2rem;
  cursor: pointer;
}

.button-white {
  color: #6750d6;
  font-size: 1rem;
  font-weight: 600;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  padding: 1rem 2rem;
  cursor: pointer;
}

@media screen and (max-width: 880px) {
  button {
    width: 100%;
  }
}/*# sourceMappingURL=App.css.map */