@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@import "./styles/AppFlex.scss";
@import "./styles/AppFontSize.scss";
@import "./styles/AppGap.scss";
@import "./styles/AppWrapper.scss";

/*----------BASE----------*/
$font-base: "Montserrat", sans-serif;
$medium-purple: #6750d6;
$dark-purple-1: #190a4e;
$dark-purple-2: #07031c;
$light-purple-1: #e8e6ff;
$light-purple-2: #c5bdff;
$white-color: #ffffff;
$gray-color: #777777;

* {
	font-family: "Montserrat", sans-serif;
	color: $gray-color;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

a {
	color: unset;
	text-decoration: none;
}
/*----------BASE----------*/

/*----------STYLES----------*/
.app__bg {
	background: $white-color;
}

.title {
	font-size: 1.5rem;
	color: $dark-purple-1;
	font-weight: 600;
}

.title-white {
	font-size: 1.5rem;
	color: $white-color;
	font-weight: 600;
}

.p-text {
	font-size: 1rem;
	color: var(--gray-color);
}

.p-text-purple {
	font-size: 1rem;
	color: $dark-purple-1;
}

.p-text-purple-bold {
	font-size: 1rem;
	color: $dark-purple-1;
	font-weight: 700;
}

.p-text-bold {
	font-size: 1rem;
	color: var(--gray-color);
	font-weight: 700;
}

.p-text-white {
	font-size: 1rem;
	color: $white-color;
}

.p-text-white-bold {
	font-size: 1rem;
	color: $white-color;
	font-weight: 700;
}

strong {
	font-weight: 700;
}

.button-purple {
	color: $white-color;
	font-size: 1rem;
	font-weight: 600;
	background-image: linear-gradient(#6750d6, #190a4e);
	border: none;
	border-radius: 8px;
	text-transform: uppercase;
	padding: 1rem 2rem;
	cursor: pointer;
}

.button-white {
	color: $medium-purple;
	font-size: 1rem;
	font-weight: 600;
	background-color: (--white-color);
	border: none;
	border-radius: 8px;
	text-transform: uppercase;
	padding: 1rem 2rem;
	cursor: pointer;
}

button {
	@media screen and (max-width: 880px) {
		width: 100%;
	}
}
/*----------STYLES----------*/
