@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  --font-base: 'Montserrat', sans-serif;

  --medium-purple: #6750D6;
  --dark-purple-1: #190A4E;
  --dark-purple-2: #07031C;
  --light-purple-1: #E8E6FF;
  --light-purple-2: #C5BDFF;
  --white-color: #FFFFFF;
  --gray-color: #777777;
}

* {
  font-family: 'Montserrat', sans-serif;
  color: var(--gray-color);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
    color: unset;
    text-decoration: none;
  }