@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
	--font-base: "Montserrat", sans-serif;

	--medium-purple: #6750d6;
	--dark-purple-1: #190a4e;
	--dark-purple-2: #07031c;
	--light-purple-1: #e8e6ff;
	--light-purple-2: #c5bdff;
	--white-color: #ffffff;
	--gray-color: #777777;
}

* {
	font-family: "Montserrat", sans-serif;
	color: var(--gray-color);
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

a {
	color: unset;
	text-decoration: none;
}
