.cone-chines {
	background: var(--light-purple-1);

	.cone-chines__container {
		.cone-chines__image-container {
			width: 50%;

			img {
				width: 85%;
				margin-top: 2rem;
			}

			@media screen and (max-width: 1280px) {
				display: none;
			}
		}

		.cone-chines__text-container {
			width: 50%;

			@media screen and (max-width: 1280px) {
				width: 100%;
				align-items: center;
			}

			img {
				display: none;

				@media screen and (max-width: 1280px) {
					display: flex;
					width: 50%;
				}

				@media screen and (max-width: 460px) {
					display: flex;
					width: 100%;
				}
			}
		}
	}
}
