@import "../../styles/colors";

.cone-chines {
	background: $light-purple-1;

	.cone-chines__container {
		.cone-chines__image-container {
			width: 50%;

			img {
				width: 85%;
				margin-top: 2rem;
				@media screen and (min-width: 880px) {
					width: 90%;
				}
				@media screen and (min-width: 1366px) {
					width: 65%;
				}
			}

			@media screen and (max-width: 1080px) {
				display: none;
			}
		}

		.cone-chines__text-container {
			width: 50%;

			@media screen and (max-width: 1080px) {
				width: 100%;
				align-items: center;
			}

			img {
				display: none;

				@media screen and (max-width: 1080px) {
					display: flex;
					width: 50%;
				}

				@media screen and (max-width: 460px) {
					display: flex;
					width: 100%;
				}
			}
		}
	}
}
